button {
  border: none;
}

.keyboard-wrapper {
  touch-action: none;
}

.keyboard {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 220px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note {
  top: 0;
  height: 100%;

  border: 1px solid black;
}

.white {
  background-color: white;
  color: black;
}
.black {
  position: absolute;
  height: 70%;
  background-color: black;
  color: white;
}
